<h2 class="main--title">Historique</h2>

<div>
    <button class="btn" (click)="clickMethod('name')">Vider l'historique <mat-icon>delete_outline</mat-icon></button>
</div>
<div>
    <h3>Aujourd'hui</h3>
    <ul>
        <li *ngFor="let historique of historiques">
          <tr>
           <td [width]="500"> <p><a href="">{{ historique.query }} </a> <i>{{ this.historiqueService.formatDate(historique.heure)  }}</i></p></td>
           <td> <button>Supprimer de l'historique</button></td>
            
        </tr></li>
    </ul>
</div>
<div>
    <select name="" class="form-control" style="width: 150px;" >
        <option value="">Ce mois-ci</option>
        <option value="">Il y a 3 mois</option>
        <option value="">Il y a une année</option>
    </select>
</div>
 