<!-- analyse-stat.component.html -->

<div>
    <h2>Module d'Analyse Statistique</h2>
  
    <!-- Bouton pour lancer l'analyse -->
    <!-- <button (click)="performAnalysis()">Lancer l'analyse</button> a modifier après--> 
  
    <!-- Affichage des résultats d'analyse ------ a modifier après
    <div *ngIf="analysisResults.length > 0">
      <h3>Résultats d'Analyse :</h3>
      <ul>
        <li *ngFor="let result of analysisResults">
          {{ result }}
        </li>
      </ul>
    </div> -->
  </div>
  
