<!-- Colonne de gauche avec le sidenav -->

<mat-drawer-container class="full-height">
  <mat-drawer mode="side" [opened]="isAuthenticated" disableFullscreen="true"
    style="background-color: rgb(24, 54, 95);color: aliceblue;">
    <mat-nav-list class="h1" style="color: aliceblue; margin-top: 30%;">
      <!-- <a mat-list-item routerLink="/authentification">Authentification</a> -->
      <!-- <ng-container > -->
      <!-- <a mat-list-item [routerLink]="['/pdf-to-image']">
        <p style="color: aliceblue;">Convertir PDF vers Image</p>
      </a> -->
      <a mat-list-item [routerLink]="['/dashboard']">
        <p style="color: aliceblue;">Tableau de bord</p>
      </a>

      <a mat-list-item [routerLink]="['/upload-doc']">
        <p style="color: aliceblue;">Extraire texte</p>
      </a>
      <!-- <a mat-list-item [routerLink]="['/upload-doc']">
          Upload
        </a> -->
      <!-- <a mat-list-item [routerLink]="['/app-ocr-result']">
        <p style="color: aliceblue;">Résultat Extraction</p>
      </a> -->
      <a mat-list-item [routerLink]="['/recherche-donnees']">
        <p style="color: aliceblue;">Recherche des Données</p>
      </a>
      
      <a mat-list-item [routerLink]="['/historique']" >
        <p style="color: aliceblue;">Historique de recherche</p>
          
        </a>
        <!-- <a mat-list-item [routerLink]="['/analyse-stat']">
          Analyse Statistique
        </a> --> 
      <button mat-button (click)="onLogout()" style="   padding: auto; margin-left: 30px;margin-top: 20%;font-size: 25px;">Déconnexion</button>
      <!-- </ng-container> -->
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content  style="background-color: rgb(178, 197, 231);" >
    <!-- <div *ngIf="isAuthenticated">
      <h1 style="padding: 50px; margin-left: 25%; font-size: xx-large;">BANKY FOIBEN'I MADAGASIKARA</h1>
    </div> -->
    <app-page-principale></app-page-principale>
  </mat-drawer-content>
</mat-drawer-container>