<div class="page-container">
  <!-- Colonne de gauche avec le sidenav -->
  <mat-sidenav-container>
    <mat-sidenav mode="side" [opened]="isAuthenticated" class="mat-sidenav">
      <mat-nav-list>
        <!-- <a mat-list-item routerLink="/authentification">Authentification</a> -->
        <ng-container *ngIf="isAuthenticated">
          <a mat-list-item routerLink="/upload-doc">Upload</a>
          <a mat-list-item routerLink="/afficher-donnees">Afficher Données</a>
          <a mat-list-item routerLink="/recherche-donnees">Recherche Données</a>
          <a mat-list-item routerLink="/analyse-stat">Analyse Statistique</a>
          <button mat-button (click)="onLogout()">Déconnexion</button>
        </ng-container>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="full-height">
      <router-outlet>
        <p>test</p>
      </router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>