<div class="signin">
  <div class="back-img">
    <div class="sign-in-text">
      <h2 class="active">Authentification</h2>
    </div>
    <!--/.sign-in-text-->
    <div class="layer">
    </div>
    <!--/.layer-->
    <p class="point">&#9650;</p>
  </div>
  <div class="form-section">
    <div class="row bmdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--full-width">
      <label for="username" class="col-5 mdl-textfield__label">Nom d'utilisateur :</label>
      <input type="text" id="username" [(ngModel)]="username" class="col-7 mdl-textfield__input">
    </div>
    <br />
    <div class="row mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--full-width">
      <label for="password" class="col-5 mdl-textfield__label">Mot de passe :</label>
      <input type="password" id="password" [(ngModel)]="password" class="col-7 mdl-checkbox__input">
    </div>
  </div>
  <button (click)="onLogin()"
    class="sign-in-btn mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--raised mdl-button--colored">Se
    connecter</button>
</div>
