.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Assurez-vous que le conteneur occupe toute la hauteur de l'écran */
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Assurez-vous que le conteneur occupe toute la hauteur de la vue */
  }
  
  /* Ajoutez d'autres styles nécessaires */
  