<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card--container row">
    <h3 class="main--title">Statistiques <mat-icon style="margin-top: 20px;">bar_chart</mat-icon>    <button class="btn" (click)="clickMethod('Statistique')">
        Exporter PDF <i class="fa fa-file-pdf-o" aria-hidden="true"></i></button>
    </h3>

    <div class="card--wraper col-md-4" >
        <div class="payment--card light-blue">
            <div class="card--header ">
                <div class="amount">
                    <span class="title">
                        Effectif des départements
                    </span>
                    <span class="amount-value"><canvas class="col md-6" baseChart
                        [labels]="doughnutChartLabels"
                        [datasets]="doughnutChartDatasets"
                        [options]="doughnutChartOptions"
                        [legend]="true"
                        [type]="'doughnut'">
                </canvas></span>
                </div>
                <!-- <span class="card-detail">666</span>     -->
            </div>
        </div>
    </div>

    <div class="card--wraper col-md-4" >
        <div class="payment--card light-blue">
            <div class="card--header ">
                <div class="amount">
                    <span class="title">
                        Les profils les plus consultés
                    </span>
                    <span class="amount-value"><canvas class="col md-6" baseChart
                        [labels]="doughnutChartLabels"
                        [datasets]="doughnutChartDatasets1"
                        [options]="doughnutChartOptions1"
                        [legend]="true"
                        [type]="'doughnut'">
                </canvas></span>
                </div>
                <!-- <span class="card-detail">666</span>     -->
            </div>
        </div>
    </div>

    <div class="card--wraper col-md-4" >
        <div class="payment--card light-blue">
            <div class="card--header ">
                <div class="amount">
                    <span class="title">
                        Les profils ajoutés récemment
                    </span>
                    <span class="amount-value"><canvas baseChart
                        [type]="'pie'"
                        [datasets]="pieChartDatasets"
                        [labels]="pieChartLabels"
                        [options]="pieChartOptions"
                        [plugins]="pieChartPlugins"
                        [legend]="pieChartLegend">
                      </canvas></span>
                </div>
                <!-- <span class="card-detail">666</span>     -->
            </div>
        </div>
    </div>
    <!-- <input type="text" placeholder="Type to search.." name="te" [(ngModel)]="te" value="{{te}}">
   {{te}} -->
    <div class="card--wraper col-md-4" >
        <div class="payment--card light-white">
            <div class="card--header ">
                <div class="amount">
                    <span class="title">
                        Courbe des recherches <select name="" id="">
                            <option value="">2023</option>
                            <option value="">2022</option>
                            <option value="">2021</option>
                        </select>
                    </span>
                    <div style="display: block;">
                        <canvas baseChart width="400" height="300"
                          [type]="'line'"
                          [data]="lineChartData"
                          [options]="lineChartOptions"
                          [legend]="lineChartLegend">
                        </canvas>
                      </div>
                </div>
                <!-- <span class="card-detail">666</span>     -->
            </div>
        </div>
    </div>
</div>
<div class="card--container row">
    <h3 class="main--title">Monitoring  <mat-icon> multiline_chart</mat-icon> 
        <!-- <button class="btn"><i class="fa fa-download"></i> Telecharger</button> -->
        <button class="btn" (click)="clickMethod('Monitoring')">
            Exporter PDF <i class="fa fa-file-pdf-o" aria-hidden="true"></i></button>
    </h3>
    <div class="card--wraper col-md-4" >
        <div class="payment--card light-red">
            <div class="card--header ">
                <div class="amount">
                    <span class="title">
                        Utilisation de la mémoire RAM <mat-icon>memory</mat-icon>

                    </span>
                    <span class="amount-value">{{stats.heap_memory}}%</span>
                </div>
                <!-- <span class="card-detail">666</span>     -->
            </div>
        </div>
    </div>

    <div class="card--wraper col-md-4" >
        <div class="payment--card light-red">
            <div class="card--header ">
                <div class="amount">
                    <span class="title">
                        Connectés actuellement <mat-icon>supervisor_account</mat-icon>

                    </span>
                    <span class="amount-value">{{stats.current_connected}}</span>
                </div>
                <!-- <span class="card-detail">666</span>     -->
            </div>
        </div>
    </div>
   

    <div class="card--wraper col-md-4" >
        <div class="payment--card light-red">
            <div class="card--header ">
                <div class="amount">
                    <span class="title">
                        Connectés récemment        <mat-icon>supervisor_account</mat-icon>

                   </span>
                    <span class="amount-value">{{stats.latest_connected}} </span>
                </div>
                <!-- <span class="card-detail">666</span>     -->
            </div>
        </div>
    </div>
    <div class="card--wraper col-md-4" >
        <div class="payment--card light-blue">
            <div class="card--header ">
                <div class="amount">
                    <span class="title">
                        Temps de réponse moyen       <mat-icon> multiline_chart</mat-icon>

                   </span>
                    <span class="amount-value">{{generateRandomInteger(100, 400)}}ms </span>
                </div>
                <!-- <span class="card-detail">666</span>     -->
            </div>
        </div>
    </div>
</div>

   
       